{% load crispy_forms_tags %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<div class="container">
		<div class="content-section">
	    	<form method="POST" enctype="multipart/form-data">
	    		{% csrf_token %}
	    		<fieldset class="form-group">
	    			<legend class="border-bottom mb-4">
	    				Register Now!
	    			</legend>
	    			{{ form|crispy }}
	    		</fieldset>
	    		<div class="form_group">
	    			<button class="btn btn-outline-info" type="submit" style="text-align: center">Sign Up</button>
	    		</div>
	    	</form>
			<div class="border-top pt-3">
				<small class="text-muted">Already have an account? <a class="ml-2" href="#">Sign In</a></small>
			</div>
	    </div>
	</div>
</body>
</html>
